.login-form{
	background-color: rgb(9, 38, 134);
	color: white;
	font-family: 'Lato', sans-serif;
	width: 400px;
	height: fit-content;
	padding-bottom: 25px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 30px;
	left: 50%;
	top:  50%;
	position: absolute;
	transform: translate(-50%, -50%);
}